.banner {
    height : 70px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196,247);
}
.banner h2{ 
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 40px;
    height: 70px;
}

.column-2-left {
    width: 430px;
    background-color: #e0ddcd;
    padding: 20px;
    border: 5px solid #938d6d;
    float: left;
  }
  
.column-2-right {
    width: 430px;
    background-color: #e0ddcd;
    padding: 20px;
    border: 5px solid #938d6d;
    float: right;
  }